.error-div {
    margin-top: 20px;
}

.main-error {
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
    > div:nth-child(n+2) {
        margin-left: 10px;
    }
}

.other-link {
    text-align: center;
    a {
        width: 100%;
    }
}

.file-upload-form {
    .btn {
        width: 100%;
    }
}